font-weight: normal;
font-size: 30px;
text-align: left;
margin: 50px auto;
}

 .author_name_white { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #fff; font-size: 20px; } 
 .author_name_gray { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; } 
 .quotes_container { width: 800px; margin: 0 auto; }

 .leftHand {
     position: absolute;
     left: 130px;
     top: 434px;
     width: 300px;
 }

 .rightHand {
     position: absolute;
     left: 800px;
     top: 433px;
     width: 300px;
 }

#SlideBackground {
    background: url('img/White-Background-9B1.jpg') no-repeat;
    background-size: cover;
}
#Start {
    background: url('img/WP_20160428_16_05_14_Pro.jpg') 100% 0 no-repeat ;
    top: 300px;
    height: 510px;
    margin: 0;
    padding: 200px 0 260px 0;
    background-size: cover;
}
#slide2{
color: #333333;
height: 450px;
margin: 0 auto;
overflow: hidden;
padding: 200px 0;
}
#Technology{
color: #333333;
height: 950px;
margin: 0 auto;
overflow: hidden;
padding: 200px 0;
}

#Projects{
color: #333333;
height: 950px;
margin: 0 auto;
overflow: hidden;
padding: 200px 0;
}
#AfterHouers{
color: #333333;
height: 950px;
margin: 0 auto;
overflow: hidden;
padding: 200px 0;
}
#Kontakt{
color: #333333;
height: 450px;
margin: 0 auto;
overflow: hidden;
padding: 200px 0;
}
#EndImg{
background: url('img/slide5.jpg') 50% 0 no-repeat fixed;
height: 510px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#copyright { color: #fff; font-family:"Wellfleet"; font-size: 14px; margin-top: 100px; text-align: center; }
#copyright a { text-decoration: none; color: #fff; }