<body>
    <!----- HEADER START--->
    <!----- SLIDES START --->
<header id="header">
    <nav id="nav">
        <ul>
            <li><a href="#Start" class="active" title="Next Section">Festiwal</a></li>
            @*<li><a href="#Technology" title="Next Section">Newsy</a></li>*@
            <li><a href="#Projects" title="Next Section">Jurorzy</a></li>
            <li><a href="#AfterHours" title="Next Section">Sponsorzy</a></li>
            <li><a href="#Contact" title="Next Section">KONTAKT</a></li>
        </ul>
    </nav>
</header>
<section class="intro">
    <div class="intro-body">
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Nazwa Festiwalu</h1>
                    <p class="intro-text">Festiwal dla dziennikarzy.</p>
                </div>
                
            </div>
            
        </div>
    </div>
</section>
    <div class="container">
        <div class="row">
            <div class="noise">

                <div id="Start">
                    <div>
                        <h2 class="TechHead" style="margin-top: 100px">Festiwal</h2>
                        <p class="TechLower">Krótko o festiwalu</p>
                    </div>
                    <div class="opis">
                        <div class="col-md-3">
                            <p>
                                Jeśli masz do
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                Jeśli masz do
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                Jeśli masz do
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                Jeśli masz do
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    @*<div id="Technology" style="top: -50px">
                        <h2 class="TechHead">TECHNOLOGIE</h2>
                        <p class="TechLower">CO POTRAFIĘ</p>
                        <div class="img">
                            <img src="/Content/img/html5.png" alt="Logo HTML5" width="120" height="120" />
                        </div>
                        <div class="img">
                            <img src="/Content/img/css3.png" alt="Logo CSS3" width="120" height="120" />
                        </div>
                        <div class="img">
                            <a href="https://github.com/snowpl/"><img src="/Content/img/github.png" alt="Logo Git" width="120" height="120" /></a>
                        </div>
                        <div class="img">
                            <img src="/Content/img/rsz_c-img.png" alt="Logo C#" width="120" height="120" />
                        </div>
                        <div class="img">
                            <img src="/Content/img/rsz_netlogo.png" alt="Logo ASP.NET" width="120" height="120">
                        </div>
                    </div>*@
                    <div id="Projects">
                        <h2 class="TechHead">Jurorzy</h2>
                        <p class="TechLower">Niedlugo poznacie jury</p>
                        <div class="jury" id="paddingOwl">
                            <div id="mainwrapper">
                                <div class="box">
                                    <img class="jurorzy" src="/Content/img/juror1.png" height="590"/>
                                    <span class="caption fade-caption">
                                        <h3>Juror 1</h3>
                                        <p>Ten juror zostanie przedstawiony 01.07.2016.</p>
                                    </span>
                                </div>
                                <div class="box">
                                    <img class="jurorzy" src="/Content/img/juror2.png" height="590"/>
                                    <span class="caption fade-caption">
                                        <h3>Juror 2</h3>
                                        <p>Ten juror zostanie przedstawiony 04.07.2016.</p>
                                    </span>
                                </div>
                                <div class="box">
                                    <img class="jurorzy" src="/Content/img/juror3.png" height="590"/>
                                    <span class="caption fade-caption">
                                        <h3>Juror 3</h3>
                                        <p>Ten juror zostanie przedstawiony 10.07.2016.</p>
                                    </span>
                                </div>
                                <div class="box">
                                    <img class="jurorzy" src="/Content/img/juror4.png" height="590"/>
                                    <span class="caption fade-caption">
                                        <h3>Juror 4</h3>
                                        <p>Ten juror zostanie przedstawiony 18.07.2016.</p>
                                    </span>
                                </div>
                                <div class="box">
                                    <img class="jurorzy" src="/Content/img/juror1.png" height="590" />
                                    <span class="caption fade-caption">
                                        <h3>Juror 5</h3>
                                        <p>Ten juror zostanie przedstawiony 25.07.2016.</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="AfterHours">
                        <h2 class="TechHead">Sponsorzy</h2>
                        <p class="TechLower">Lista sponsorow szybko sie zapelnia</p>
                        <div class="responsive">
                            <div class="gallery">
                                <img src="/Content/img/sponsor.JPG" alt="Snowboard" width="300" height="200">
                            </div>
                        </div>
                        <div class="responsive">
                            <div class="gallery">
                                <img src="/Content/img/sponsor.JPG" alt="Nagrywanie" width="300" height="200">
                            </div>
                        </div>
                        <div class="responsive">
                            <div class="gallery">
                                <img src="/Content/img/sponsor.JPG" alt="Snowboard" width="300" height="200">
                            </div>
                        </div>
                        <div class="responsive">
                            <div class="gallery">
                                <img src="/Content/img/sponsor.JPG" alt="Nagrywanie" width="300" height="200">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- The Modal -->
                        <div id="myModal" class="modal">
                            <span class="close">×</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>

                    </div>
                    <div id="Contact">
                        <h2 class="TechHead">KONTAKT</h2>
                        <p class="TechLower">Odezwij się</p>
                        <p class="contactDescription">
                            Jeśli masz do mnie pytanie lub chciałbyś nawiązać współpracę skontaktuj się
                            korzystając z podanych niżej danych <s>lub formularza</s>.
                        </p>
                        <p class="contactPhone">+48 791 771 587</p>
                        <p class="contactEmail">kacper.werema@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>